<%- include ('templates/header'); -%>

<div class='container'>
	<div class='jumbotron'>
		<h1 style='color: lightblue;'> BOOK SEARCH </h1>
		<form action='/results' method='GET'>
			<input type='text' name='search' placeholder='search for a book'>
			<button class='btn btn-info' style='color: green;'>Search</button>
		</form>
	</div>
</div>

<%- include ('templates/footer'); -%>